.container {
    width: 100%;
    height: 60vh;
    background: #95a642;
    margin: 20px 30px;
}

.title {
    height: 50px;
    background: white;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
}