.groups {
    display: flex;
    padding: 40px;
}

.save__button{
    margin-left: 50%;
    padding: 5px;
    border-radius: 8px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-weight: 800;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;    
    border-width: 2px;
    border-color: aliceblue;
}
.save__button:hover{
    transform: scale(1.08);
    opacity: 1;
}